body {
margin:auto;
padding:0;
color:#000;
-webkit-transition:all;
-moz-transition:all;
-ms-transition:all;
-o-transition:all;
transition:all;
font-family:"Lucida Grande";
font-size:14.4px;
line-height:170%;
text-align:justify;
font-weight:100;
width:80%;
}

h1,h2,h3,h4,h5,h6 {
font-weight:100;
}

div.title {
font-weight:600;
}

img.avatar {
width:100%;
height:auto;
display:block;
border-radius:50%;
}

a:link,a:visited {
text-decoration:none;
color:#00E;
}

a:hover {
text-decoration:underline;
color:#00E;
}

a:active {
text-decoration:none;
color:#00E;
}

div.outercontainer {
text-align:center;
}

div.header,div.container,div.content,div.img,div.text {
display:inline-block;
zoom:1;
text-align:left;
margin-left:auto;
margin-right:auto;
vertical-align:middle;
max-width:960px;
}

div.header,div.container {
min-width:330px;
}

div.img,div.text {
padding-left:10px;
padding-right:10px;
}

div.header {
line-height:50px;
}

div.outercontainer,div.content {
padding-top:0px;
padding-bottom:0px;
}

div.container,div.content {
width:100%;
}

div.body {
margin-top:50px;
}

div.content {
margin-bottom:20px;
}

div.heading {
text-align:left;
position:relative;
z-index:1;
}

div.heading div.img {
padding:30px 30px 30px 10px;
max-width:30%;
}

div.heading div.img img {
width:200px;
}

div.heading span.tag {
padding-right:15px;
}

div.publication {
padding-top:0px;
padding-bottom:30px;
}

div.publication div.img {
max-width:300px;
padding-right:0px;
padding-top:5px;
}

div.publication div.text {
max-width:650px;
text-align:left;
vertical-align:top;
}

span.venue,span.highlight,div.publication span.tag {
padding-right:0px;
font-size:100%;
}

span.highlight,span.highlight a:link,span.highlight a:visited {
color:#BB2222;
}

span.venue,span.venue a:link,span.venue a:visited {
color:seagreen;
}

div.anchor {
border-top:50px solid transparent;
margin-top:-50px;
}

@media only screen and (max-width: 599px) {
    div.ftsubheader {
    padding-left:10px;
    padding-right:10px;
    }
    div.heading div.img {
    padding-right:80px;
    }
    div.publication div.img {
    display:none;
    }
    div.publication div.text {
    text-align:left;
    }
    div.content,div.publication {
    padding-top:0px;
    padding-bottom:10px;
    }
    body {
    font-size:80%;
    }
}
@media only screen and (min-width: 600px) {
    div.heading div.img {
    padding-right:calc(35px);
    }
    div.heading div.info {
    padding-right:calc(40% - 350px);
    }
    div.publication div.img {
    width:23%;
    }
    div.publication div.text {
    max-width:80%;
    text-align:left;
  }
}
