body {
  font-family: 'Google Sans';
  line-height: 1.7em;
  font-size: 13pt;
  color: #333;
  padding: 2em;
  max-width: 760px;
  margin: auto;
}

a:link, a:visited {
  color: #33D;
}

a:hover {
  color: #D66;
}

h1 {
  font-size: 160%;
}

p {
  padding: 5px 0px;
}

@media only screen and (max-width: 600px) {
  body {
    padding: 1.5em;
    font-size: 80%;
  }
}
